@import "sub-scss/responsiveness";
@import "sub-scss/variables";
@import "sub-scss/1-home";
@import "sub-scss/2-cards";
@import "sub-scss/3-taboptions";
@import "sub-scss/4-team";
@import "sub-scss/5-feedback";
@import "sub-scss/6-blog";
@import "sub-scss/7-logo";
@import "sub-scss/8-form";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
textarea,
button {
    font-family: 'Poppins', sans-serif;
}

//Starting Standard
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
}