#team-meet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

    .team-meet__heading h2 {
        font-weight: 300;
        margin-top: 30px;

        span {
            font-weight: 700;
        }
    }

    .team-meet__content {
        padding-top: 15px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;


        .row {
            display: flex;
            flex-direction: column;

            .col {
                padding: 20px;
                margin: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
                box-shadow: 0px 30px 60px rgba(132, 161, 190, 0.36);

                .tmImage {
                    width: 190px;
                    height: 110px;
                    margin-bottom: 5px;
                    background-image: url(/images/jpg/compressed/team-member-1.jpg);
                    background-position: -50px -110px;
                    background-repeat: no-repeat;
                    background-size: 140%;
                }

                .tmImage.pic2 {
                    background-image: url(/images/jpg/compressed/team-member-2.jpg);
                    background-position: -50px -20px;
                }

                .tmImage.pic3 {
                    background-image: url(/images/jpg/compressed/team-member-3.jpg);
                    background-size: 170%;
                    background-position: 0px -90px;
                }

                .tmImage.pic4 {
                    background-image: url(/images/jpg/compressed/team-member-4.jpg);
                    background-size: 210%;
                    background-position: -90px -50px;
                }

                .tmName {
                    margin-bottom: 5px;
                    font-size: 18px;
                    text-align: center;
                }

                .tmRole {
                    margin-bottom: 5px;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;
                }

                .tmLinks {
                    text-align: center;

                    a {
                        i {
                            color: rgb(46, 50, 255);
                            border-radius: 50%;
                            width: 26px;
                            height: 26px;
                            padding: 5px;
                            transition: 0.4s ease;
                        }

                        i:hover {
                            background-color: rgb(46, 50, 255);
                            color: white;

                            border-radius: 50%;

                        }
                    }
                }
            }
        }
    }

    #team-stat {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;


        .row {
            display: flex;
            justify-content: stretch;
            flex-direction: column;
            max-width: 1200px;


            .col {
                margin-left: 10px;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;



                .title-icon i {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(46, 50, 255);
                    font-size: 34px;
                    width: 60px;
                    height: 60px;
                    padding: 8px;
                    color: white;
                    border-radius: 50%;
                    margin-bottom: 15px;
                }

                .title-heading {
                    font-weight: 300;
                    width: 300px;
                    margin-bottom: 20px;
                    text-align: center;

                    span {
                        font-weight: 700;
                    }
                }

                .sub-col {
                    flex: 1;
                    margin-bottom: 25px;
                    text-align: center;

                    h2 {
                        font-size: 21px;
                        color: rgb(46, 50, 255);
                    }

                    h5 {
                        font-weight: 500;
                    }
                }
            }

            .col.col-head {
                flex: 2;
            }

            .col.col-body-1,
            .col.col-body-2,
            .col.col-body-3 {
                flex: 1;
            }
        }
    }
}

@include for-phone-only {}

@include for-tablet-portrait-up {
    #team-meet {
        padding-top: 30px;

        .team-meet__content {
            flex-direction: column;

            .row {
                flex-direction: row;
            }
        }

        #team-stat {
            margin-left: 20px;
            margin-right: 20px;

            .row {
                flex-direction: row;

                .col {
                    align-items: flex-start;
                    padding-left: 25px;

                    .title-heading {

                        text-align: left;
                    }

                    .sub-col {
                        text-align: left;
                    }
                }
            }
        }
    }
}

@include for-tablet-landscape-up {

    #team-stat {


        .row {
            flex-direction: row;

            .col {
                padding-left: 0px;
            }
        }
    }
}

@include for-desktop-up {
    #team-meet {
        .team-meet__content {
            flex-direction: row;

            .row {
                flex-direction: row;

                .col {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }

        #team-stat {
            margin-top: 50px;

            .row {
                width: 1000px;
                transform: translateX(0px) scale(1.030);

                .col-head {
                    transform: translateX(15px);
                }
            }
        }
    }
}

@include for-desktop-wide-up {}