    #form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 450px;
        max-width: 1200px;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 70px;
        margin-bottom: 50px;

        h1 {
            font-weight: 500;
            margin-bottom: 20px;

            span {
                font-weight: 700;
            }
        }

        .container {
            max-width: 1200px;
            width: 100%;

            .row {
                //Column direction for tablet and up
                flex-direction: row;
                align-items: center;
                justify-content: center;
                max-width: 1200px !important;

                .col.form {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    h6 {
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }

                    input {
                        font-size: 100;
                        width: 100%;
                        line-height: 3;
                        padding-left: 10px;
                        outline: none;
                        border: none;
                        box-shadow: 0px 0px 19px rgba(132, 161, 190, 0.26);
                        border-radius: 5px;
                        margin-bottom: 15px;
                    }

                    textarea {
                        width: 100%;
                        padding-left: 10px;
                        padding-top: 10px;
                        outline: none;
                        border: none;
                        box-shadow: 0px 0px 19px rgba(132, 161, 190, 0.26);
                        border-radius: 5px;
                        margin-bottom: 15px;
                    }

                    button {
                        border: none;
                        background-color: $mainColor;
                        color: white;
                        height: 40px;
                        border-radius: 2px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        margin-top: 5px;
                    }
                }

                .col.map {
                    display: flex;
                    justify-content: center;

                    iframe {
                        max-width: 300px;
                        height: 300px;
                        margin: auto;
                    }
                }
            }
        }
    }


    @include for-phone-only {}

    @include for-tablet-portrait-up {
        #form {

            .container {

                .row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    .col.form {
                        width: 50%;

                        .name-and-email-group {
                            width: 100%;
                            display: flex;
                            justify-content: center;

                            .name-line {
                                width: 100%;
                                padding-right: 5px;
                            }

                            .email-line {
                                width: 100%;
                                padding-left: 5px;
                            }
                        }

                        button {
                            width: 140px;
                        }
                    }

                    .col.map {}
                }
            }
        }
    }

    @include for-tablet-landscape-up {
        #form {
            .container {
                .row {
                    .col.form {
                        input {
                            line-height: 4;
                        }

                    }
                }
            }
        }
    }

    @include for-desktop-up {}

    @include for-desktop-wide-up {}